<div class="headerDiv">
	<h1 class="HeaderWelcome">
		Ian's Shipping Company
	</h1>
	<h3 class="HeaderWelcome">
		We can ship your cargo wherever you want!
	</h3>
	<h2 class="HeaderWelcome">
	Lets send it
	</h2>
</div>
