{{>header}}
<img name="homeImage" id="homeImage" src="images/boat.jpeg" width = 30%>
<p>press below button to create account or get token for an existing account. Authentication handled with google</p>
<form action="/authenticate" method="post">
  <input type="submit" value="begin">
</form>
